#head{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 219);
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#input{
    margin-top: 10px;
}


#text{
    width: 100%;
    height: 300px;
    font-size: 18px;
}

#footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 219);
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}

#span{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: normal;
}